@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero Section -->
<header class="hero-section d-flex align-items-center justify-content-center text-center">
    <div class="container">
        <h1 class=" fw-bold">ALUNGILE MVENYEZA</h1>
        <p class="lead  mt-3">SOFTWARE DEVELOPER, ASP .NET CORE <span> DEVELOPER</span></p>
    </div>
</header>

<!-- About Sections -->
<section id="about" class="about py-3 rounded mb-4">
    <div class="container">
        <div class="py-5 row justify-content-center">
            <!--Column 1-->
            <div class="col-md-5">
                <img class="img-fluid rounded" src="~/Images/unique-right-look.jpg" alt="Mr unique" />
            </div>

             <!--Column 2-->
            <div class="col-md-6">
                <h1 class="text-white">About Me</h1>
                <p id="intro">
                    I'm a talented and highly motivated Software Developer willing to join a team. <br> As a Software Developer, I'm
                    responsible for designing, coding, and modifying desktop applications, from layout to
                    functionality, according to clients' specifications. <br>I have experience working with the
                    .Net framework, I have
                    built multiple Applications that enhance user experience and achieve business goals.
                </p>

                <!--Tabs -->
                <ul class="tab-items nav nav-underline nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" id="tech-stack-tab" data-bs-toggle="tab" href="#stack">Tech Stack</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#skills">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#hobbies">Hobbies</a>
                    </li>
                </ul>
                <div class="tab-content mt-3">
                    <!--Tech stack-->
                    <div class="tab-pane fade show active" id="stack">
                        @* <p>Here are the technologies I work with:</p> *@
                        <ul>
                            <li><span>Languages:</span><br> C#, JavaScript, SQL, HTML/CSS</li>
                            <li><span>Frameworks:</span><br> ASP.NET Core, Bootstrap</li>
                            <li><span>Tools:</span><br> Visual Studio, Git, VS Code</li>
                            <li><span>Database:</span><br> SQL Server, Entity Framework Core</li>
                        </ul>
                    </div>

                    <!--Skilss-->
                    <div class="tab-pane fade" id="skills">
                        @* <h3>Here are some skills I have:</h3> *@
                        <ul>
                            <li><span>Problem Solving:</span><br> Excellent at debugging and optimizing code.</li>
                            <li><span>Front-End:</span><br> Building responsive UIs with HTML, CSS, and Bootstrap.</li>
                            <li><span>Back-End:</span><br> Proficient in ASP.NET Core and RESTful APIs.</li>
                            <li><span>Database Management:</span><br> Writing complex queries and optimizing database performance.</li>
                            <li><span>Teamwork:</span><br> Experience collaborating on software projects.</li>
                        </ul>
                    </div>

                    <!--Hobbies-->
                    <div class="tab-pane fade" id="hobbies">
                        @* <h3>Here are Some of my hobbies:</h3> *@
                        <ul>
                            <li>Coding and exploring new technologies</li>
                            <li>Gaming and solving puzzles</li>
                            <li>Reading technical blogs and self-improvement books</li>
                            <li>Photography and editing</li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<!--My Projects Section -->
<section id="projects" class="py-3  text-white rounded">
    <div class="container">
        <h1>My Work</h1>
        <div class="worklist py-5 row justify-content-center">

            <!--Column 1-->
            <div class="col-md-4 project p-2">
                <img class="img-fluid" src="~/Images/unique-right-look.jpg" alt="Mr unique" />
                <div class="layer">
                    <h3>Store Management System</h3>
                    <p>
                        The Desktop Application that help you manage your small store.
                        View Github Link.
                    </p>
                    <a href="projects.html"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>

            <!--Column 2-->
            <div class="col-md-4 project p-2">
                <img class="img-fluid " src="~/Images/unique-right-look.jpg" alt="Mr unique" />
                <div class="layer">
                    <h3>Store Management System</h3>
                    <p>
                        The Desktop Application that help you manage your small store.
                        View Github Link.
                    </p>
                    <a href="projects.html"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <!--Column 3-->
            <div class="col-md-4 project p-2">
                <img class="img-fluid" src="~/Images/unique-right-look.jpg" alt="Mr unique" />
                <div class="layer">
                    <h3>Store Management System</h3>
                    <p>
                        The Desktop Application that help you manage your small store.
                        View Github Link.
                    </p>
                    <a href="projects.html"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>

        </div>
    </div>
</section>

<!--Contacat-->
<section id="about" class="about py-3 rounded mb-4">
    <div class="container">
        <div class="py-5 row justify-content-center">
            <!--Column 1 -->
            <div class="col-md-5">
                <h1 class="sub-title">Contact Me</h1>
                <p><i class="fa-solid fa-paper-plane"></i>alungileunique@gmail.com</p>
                <p><i class="fa-solid fa-square-phone"></i>0665331878</p>
                <div class="social-icons">
                    <a href="https://www.facebook.com/alungile.unique.14"><i class="fa-brands fa-facebook" target="_blank"></i></a>
                    <a href="https://wa.me/qr/6ULDZ67EYBIFB1" target="_blank"><i class="fa-brands fa-square-whatsapp"></i></a>
                    <a href="https://twitter.com/i_am_unique014?t=I4zMjbYs8Yne68lc0wegKg&s=08" target="_blank"><i class="fa-brands fa-twitter-square"></i></a>
                    <a href="https://instagram.com/i_am_unique014?igshid=OGY3MTU3OGY1Mw==" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/alungile-mvenyeza-06b355231" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <a href="images/my-cv.pdf" download class="btn btn2">Download CV</a>
            </div>

            <!--Column 2-->
            <div class="col-md-6">
                <div class="row g-3 bg-dark rounded p-1">
                    <div class="col-md-6 text-white">
                        <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control " placeholder="Last name" aria-label="Last name">
                    </div>
                    <div class="col-md-12"> 
                        <input type="email" class="form-control" placeholder="Email" id="inputEmail4" aria-label="Email">
                    </div>
                    <div class="col">    
                        <textarea class="form-control" id="FormControlTextarea1" placeholder="Your Message" rows="3"></textarea>
                    </div>
                    <div class="col-12 mb-3">
                        <button type="submit" class="btn btn-primary"><i class="fa-regular fa-paper-plane"></i> Send</button>
                    </div>
                </div>
               
            </div>  
        </div>
    </div>
</section>