@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero Section -->
<header class="hero-section d-flex align-items-center justify-content-center text-center">
    <div class="container">
        <h1 class=" fw-bold">ALUNGILE MVENYEZA</h1>
        <p class="lead  mt-3">SOFTWARE DEVELOPER, ASP .NET CORE <span> DEVELOPER</span></p>
    </div>
</header>

<!-- About Section -->
<section id="about" class="py-3 bg-dark text-white rounded mb-4">
    <div class="container">
        <div class="py-5 row justify-content-center">
            <!--Column 1-->
            <div class="col-md-5">
                <img class="img-fluid rounded" src="~/Images/unique-right-look.jpg" alt="Mr unique" />
            </div>

             <!--Column 2-->
            <div class="col-md-6">
                <h1>About Me</h1>
                <p id="intro">
                    I'm a talented and highly motivated Software Developer willing to join a team. <br> As a Software Developer, I'm
                    responsible for designing, coding, and modifying desktop applications, from layout to
                    functionality, according to clients' specifications. <br>I have experience woking with the
                    .Net framework, I have
                    built multiple Applicatins that enhance user experience and achieve business goals.
                </p>

                <!--Tabs -->
                <ul class="nav nav-underline nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" id="tech-stack-tab" data-bs-toggle="tab" href="#stack">Tech Stack</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#skills">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#hobbies">Hobbies</a>
                    </li>
                </ul>
                <div class="tab-content mt-3">
                    <!--Tech stack-->
                    <div class="tab-pane fade show active" id="stack">
                        @* <p>Here are the technologies I work with:</p> *@
                        <ul>
                            <li><span>Languages:</span><br> C#, JavaScript, SQL, HTML/CSS</li>
                            <li><span>Frameworks:</span><br> ASP.NET Core, Bootstrap</li>
                            <li><span>Tools:</span><br> Visual Studio, Git, VS Code</li>
                            <li><span>Database:</span><br> SQL Server, Entity Framework Core</li>
                        </ul>
                    </div>

                    <!--Skilss-->
                    <div class="tab-pane fade" id="skills">
                        @* <h3>Here are some skills I have:</h3> *@
                        <ul>
                            <li><span>Problem Solving:</span><br> Excellent at debugging and optimizing code.</li>
                            <li><span>Front-End:</span><br> Building responsive UIs with HTML, CSS, and Bootstrap.</li>
                            <li><span>Back-End:</span><br> Proficient in ASP.NET Core and RESTful APIs.</li>
                            <li><span>Database Management:</span><br> Writing complex queries and optimizing database performance.</li>
                            <li><span>Teamwork:</span><br> Experience collaborating on software projects.</li>
                        </ul>
                    </div>

                    <!--Hobbies-->
                    <div class="tab-pane fade" id="hobbies">
                        @* <h3>Here are Some of my hobbies:</h3> *@
                        <ul>
                            <li>Coding and exploring new technologies</li>
                            <li>Gaming and solving puzzles</li>
                            <li>Reading technical blogs and self-improvement books</li>
                            <li>Photography and editing</li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<!--My Projects Section -->
<section id="projects" class="py-3 bg-dark text-white rounded">
    <div class="container">
        <h1>My Work</h1>
        <div class="worklist py-5 row justify-content-center">

            <!--Column 1-->
            <div class="col-md-4 work">
                <img class="img-fluid rounded" src="~/Images/unique-right-look.jpg" alt="Mr unique" />
                <div class="layer">
                    <h3>Store Management System</h3>
                    <p>
                        The Desktop Application that help you manage your small store.
                        View Github Link.
                    </p>
                    <a href="projects.html"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>

            <!--Column 2-->
            <div class="col-md-4">
                <img class="img-fluid rounded" src="~/Images/unique-right-look.jpg" alt="Mr unique" />
                <div class="layer">
                    <h3>Store Management System</h3>
                    <p>
                        The Desktop Application that help you manage your small store.
                        View Github Link.
                    </p>
                    <a href="projects.html"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <!--Column 3-->
            <div class="col-md-4">
                <img class="img-fluid rounded" src="~/Images/unique-right-look.jpg" alt="Mr unique" />
                <div class="layer">
                    <h3>Store Management System</h3>
                    <p>
                        The Desktop Application that help you manage your small store.
                        View Github Link.
                    </p>
                    <a href="projects.html"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>

        </div>
    </div>
</section>