html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
    background-color: black;
}

body {
    background: url(../Images/pexels-luis-gomes-166706-546819.jpg) rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* navbar custom styling */
.main-nav ul li a{
    position: relative;
}
.main-nav ul li a:hover {
    color: #60ACC6;
}

    .main-nav ul li a::after {
        content: '';
        width: 0;
        height: 3px;
        background: #60ACC6;
        position: absolute;
        left: 0;
        bottom: -4px;
        transition: 0.5s;
    }

    .main-nav ul li a:hover::after {
        width: 100%;
    }

section {
    color: #ababab;
}

/* Ensure the hero-section takes full height */
.hero-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

    .hero-section .container {
        z-index: 10; /*Ensures the text is visible above any background */
    }


    .hero-section h1 {
        color: white;
        font-size: 5rem;
        text-transform: uppercase;
        transition: 0.5s;
    }

    .hero-section p {
        color: white;
        font-size: 2rem;
    }

    .hero-section span {
        color: #60ACC6;
    }

    .hero-section h1:hover {
        -webkit-text-stroke: 2px #60ACC6;
        color: transparent;
    }

.projects, .about {
    background-color: rgba(0, 0, 0, 0.8); /* Ensure contrast if needed*/
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #60ACC6;
    text-align: center;
    padding: 10px;
}

@media(max-width: 991px) {

    .hero-section h1 {
        font-size: 2.5rem;
        text-transform: uppercase;
    }

    .hero-section p {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .hero-section {
        min-height: 80vh;
        padding: 20px;
        margin-top: -20px;
    }
    
}



/*About Section css*/
img.img-fluid {
    max-height: 600px;
    object-fit: cover;      /* Ensures the image doesn't stretch */
    width: 100%;            /* Ensures responsiveness */
}

.tab-links li a{
    color: #ababab;
}



.tab-content ul li {
    list-style: circle;
    color: #ababab;
    
}

.tab-items .nav-link {
    color: black;
    border: 1px solid #60ACC6;
    background-color: #60ACC6;
}

.tab-items .nav-link:hover {
    color: #ababab;
    border: 1px solid #60ACC6;
    background-color: black;
}

/*Tabbed interface styles*/
.tab-content ul li span {
    color: #60ACC6;
    font-size: 14px;
}
   

/*============== My Work css =============*/
.project{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.project img {
        width: 100%;
        display: block;
        transition: transform 0.5s;
        border-radius: 10px;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #60ACC6);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer a{
    margin-top: 20px;
    font-size: 18px;
  line-height: 60px;
    background: #221d1d;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.project:hover img {
    transform: scale(1.1);
    border-radius: 10px;
}

.project:hover .layer {
    height: 100%;
}

.project img.img-fluid {
    max-height: 450px; 
    object-fit: cover; /* Ensures the image doesn't stretch */
}


/*====================Contact Styling==========================*/

/*Contact Section Title*/

.section-title {
    text-align: center;
    padding-bottom: 60px;
    position: relative;
}

    .section-title h2 {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 20px;
        padding-bottom: 20px;
        text-transform: uppercase;
        position: relative;
    }


        .section-title h2:before {
            content: "";
            position: absolute;
            display: block;
            width: 160px;
            height: 1px;
            background: #ababab;
            left: 0;
            right: 0;
            bottom: 1px;
            margin: auto;
        }       

        .section-title h2::after {
            content: "";
            position: absolute;
            display: block;
            width: 60px;
            height: 3px;
            background: #60ACC6;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    .section-title p {
        margin-bottom: 0;
    }

/*Contact small screen screen*/
.contact-layout ul li {
    list-style: none;
}


/*Contact large screen*/
@media(min-width: 769px) {
    .contact-layout ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .social-icons {
        display: flex;
        align-items: center;
        justify-content: center;
    }  
}


contact-layout p i {
    margin-right: 15px;
    font-size: 25px;
    color: #60ACC6;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
     color: #60ACC6;
     transform: translateY(-5px);  
}

.cow {
    border: solid;
    border-color: #60ACC6;
}

